PORT=5500
NODE_ENV=development

# DB URL
DB_URL=

# SECRETS
ACCESS_TOKEN_SECRET=
SESSION_SECRET_KEY=

# FRONTEND
FRONTEND_URL=


# SMTP ENV
MAIL_PORT=
MAIL_HOST=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_USERNAME=

# OAuth
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=

# CLOUDINARY KEYS
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=
